@import url('https://fonts.googleapis.com/css2?family=SN+Pro:ital,wght@0,200..900;1,200..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  font-family: 'Ubuntu', sans-serif;
}

@layer base {
  body {
    @apply bg-secondary text-gray-800 antialiased;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-medium tracking-tight text-primary-dark;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
